node_modules/
www/
/ios/
android/.gradle/
android/app/build/
android/build/
android/capacitor-cordova-android-plugins/build/
android-native/.gradle/
android-native/app/build/
android-native/build/
build/
dist/
*.log
*.ipa
*.xcarchive
artifact/
.DS_Store
